<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xysy.ybs" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".YApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@android:color/transparent"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".ui.MainActivity">
        </activity>
        <activity
            android:name=".ui.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:parentActivityName=".ui.MainActivity">
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity">
        </activity>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data android:value="53e17fe6fd98c5e84f017aed" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Myself" android:name="UMENG_CHANNEL"/>

        <provider
            android:authorities="com.xysy.ybs.provider"
            android:name=".data.DataProvider"
            android:exported="false"
            android:multiprocess="true" />
    </application>

</manifest>
